.video-frame {
  width: 60vw;
  height: 40vw;
  position: absolute;
  top: 0;
}
.page__content {
  display: flex;
  justify-content: space-between;
}
.page__content__item {
  display: grid;
}
.page__header {
  display: flex;
}
.page__header > .page__title {
  margin-right: 10vw;
}
.page__header > .btn-camera {
  height: 50px;
  width: 50px;
  background-image: url(https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Instagram_svg-256.png);
  background-size: cover;
  border: none;
  border-radius: 50%;
}
.avt {
  border-radius: 50%;
  background-image: url('https://tse3.mm.bing.net/th?id=OIP.GlFTKon5rkQNZkoUL2k_0QHaHa&pid=Api&P=0&w=185&h=185');
  height: 200px;
  width: 200px;
  background-repeat: round;
}

body {background-color: rgb(0, 0, 0);}