{% block css %}
<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='home_page/style.css')}}" />
<style>
    h2 {
        margin-top: auto;
        text-align: center;
        font-weight: bold;
        margin-top: 1cm;
    }
    
    h4 {
        margin-top: auto;
        text-align: center;
        /* font-weight: bold; */
        
    }
    
    .infor {
        margin-top: auto;
        text-align: center;
        font-weight: bold;
        margin-top: 1cm;
    }
    .circular_image {
        margin: auto;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        background-color: blue;
        text-align: center;
        justify-content: space-around;
        margin-top: auto;
        margin-bottom : auto;
    }
</style>
{% endblock %}
{% extends "layout.html" %} {% block title %}Home{% endblock %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Home Page</h1>
        </div>
    </div>

    <!-- import images -->

    <div class="container">
        <div style="display: flex; " >
            
            <div class="col">
                <div style="margin: auto;" class="circular_image">
                    <img src="{{ url_for('static', filename='home_page/images/Phuoc.jpg') }}" alt="home"
                        class="circular_image" width="640" height="640"/>
                </div>
                <div class="col">
                    <h2>Lễ Vũ Phước</h2>
                    <h4>19146063</h4>
                    <h4>Team leader</h4>
                    <!-- <p>
                        <b>Email: </b>
                        <a href="mailto:19146390@student.hcmute.edu.vn"> 1946323@student.hcmute.edu.vn </a>
                    </p> -->
                    <p>
                        <b>Phone: </b>
                        <a href="tel:0899754416">0899754416</a>
                    </p>
                    <p>
                        <b>Facebook: </b>
                        <a href="https://www.facebook.com/profile.php?id=100007179099925">Vũ Phước</a>
                    </p>
                </div>
            </div>

            <div class="col">
                <div style="margin: auto;" class="circular_image">
                    <img src="{{ url_for('static', filename='home_page/images/Duc.jpg') }}" alt="home"
                        class="circular_image" width="640" height="640"/>
                </div>
                <div class="col">
                    <h2>Trần Bửu Minh Đức</h2>
                    <h4>19146323</h4>
                    <h4>Member</h4>
                    <!-- <p>
                        <b>Email: </b>
                        <a href="mailto:19146390@student.hcmute.edu.vn"> 1946323@student.hcmute.edu.vn </a>
                    </p> -->
                    <p>
                        <b>Phone: </b>
                        <a href="tel:0776776100">0776776100</a>
                    </p>
                    <p>
                        <b>Facebook: </b>
                        <a href="https://www.facebook.com/profile.php?id=100008357295586">Duc Tran</a>
                    </p>
                </div>
            </div>

            <div class="col">
                <div style="margin: auto;" class="circular_image">
                    <img src="{{ url_for('static', filename='home_page/images/Thanh.jpg') }}" alt="home"
                        class="circular_image" width="640" height="640"/>
                </div>

                <div class="col">
                    <h2>Nguyễn Đạt Thành</h2>
                    <h4>19146390</h4>
                    <h4>Member</h4>
                    <!-- <p>
                        <b>Email: </b>
                        <a href="mailto:19146390@student.hcmute.edu.vn"> 1946390@student.hcmute.edu.vn </a>
                    </p> -->
                    <p>
                        <b>Phone: </b>
                        <a href="tel:0766278126">0766278126</a>
                    </p>
                    <p>
                        <b>Facebook: </b>
                        <a href="https://www.facebook.com/dat.thanh.3107/">Nguyễn Đạt Thành</a>
                    </p>
                </div>
                
                
            </div>
        </div>

        <!-- end import images -->
    </div>

    {% endblock %}
</div>