{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <form action="{{ url_for('controll') }}" method="post" id="position" name="position">
                <h1> Controll Panel </h1>
                <table class="table table-bordered text-white bg-dark" id="setpointtable">
                    <label >Set Point</label>
                    <thead>
                        <tr>
                            <th>vitri_x</th>
                            <th>vitri_y</th>
                            <th>vitri_z</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% if result %}
                            <tr>
                                <td><input type="text" placeholder="{{ result[12] }}" name="vitri_x"></td>
                                <td><input type="text" placeholder="{{ result[13] }}" name="vitri_y"></td>
                                <td><input type="text" placeholder="{{ result[14] }}" name="vitri_z"></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary" id="submit" value="Submit">
                    </div>
                </div>
            </form>
            
            <table class="table table-bordered text-white bg-dark" id="currenttalbe">
                <label>Current</label>
                <thead>
                    <tr>
                        <th>vitri_x</th>
                        <th>vitri_y</th>
                        <th>vitri_z</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% if result %}
                        <tr>
                            <td>{{ result[12] }}</td>
                            <td>{{ result[13] }}</td>
                            <td>{{ result[14] }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}

{% endblock %}