{% block css %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='controlposition/style.css')}}"
/>
{% endblock %} {% extends "layout.html" %} {% block title %}ControllPosition{%
endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form
        action="{{ url_for('controlposition') }}"
        method="post"
        id="position"
        name="position"
      >
        <h1>Control Panel</h1>
        <table
          class="table table-striped table-dark text-white bg-dark"
          id="setpointtable"
        >
          <label>Set Point</label>
          <thead>
            <tr style="text-align: center">
              <th>Vi tri x</th>
              <th>Vi tri y</th>
              <th>Vi tri z</th>
              <th>phi</th>
              <th>gramma</th>
              <th>v</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <!-- check float valid -->
              <td>
                <input
                  type="text"
                  placeholder="vi tri x"
                  name="vitri_x"
                  for="irate"
                  name="irate"
                  id="vitri_x"
                  onchange="check_float(this)"
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="vi tri y"
                  name="vitri_y"
                  for="irate"
                  name="irate"
                  id="vitri_y"
                  onchange="check_float(this)"
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="vi tri z"
                  name="vitri_z"
                  for="irate"
                  name="irate"
                  id="vitri_z"
                  onchange="check_float(this)"
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="phi"
                  name="phi"
                  for="irate"
                  name="irate"
                  id="phi"
                  onchange="check_float(this)"
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="gramma"
                  name="gramma"
                  for="irate"
                  name="irate"
                  id="gramma"
                  onchange="check_float(this)"
                />
              </td>
              <td><input type="text" placeholder="v" name="v" id="v" /></td>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-12">
            <input
              type="submit"
              class="btn btn-primary"
              id="submit"
              value="Submit"
            />
          </div>
        </div>
      </form>

      <table
        class="table table-striped table-dark text-white bg-dark"
        id="currenttalbe"
      >
        <label>Current</label>
        <thead>
          <tr style="text-align: center">
            <th>Vi tri x</th>
            <th>Vi tri y</th>
            <th>Vi tri z</th>
            <th>phi</th>
            <th>gramma</th>
            <th>v</th>
          </tr>
        </thead>

        <tbody>
          {% if result %}
          <tr style="text-align: center">
            <td id="result_x">{{ result[11] }}</td>
            <td id="result_y">{{ result[12] }}</td>
            <td id="result_z">{{ result[13] }}</td>
            <td>{{ result[14] }}</td>
            <td>{{ result[15] }}</td>
            <td>{{ result[16] }}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description"></p>
      </figure>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="{{url_for('static', filename='controlposition/chart.js')}}"></script>

<script src="{{url_for('static', filename='controlposition/val_float.js')}}"></script>
{% endblock %} {% block footer %} {% endblock %}
